/*.App {*/
/*    height: 100vh;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    color: white;*/
/*    width: 100%;*/
/*    background-color: #2E4158;*/
/*    padding: 40px 140px;*/
/*    overflow: auto*/
/*}*/

/*.FormTitle {*/
/*    color: #707C8B;*/
/*    font-weight: 300;*/
/*    margin-bottom: 50px;*/
/*    width: 1400px;*/
/*}*/

/*.FormCenter {*/
/*    margin-bottom: 100px;*/
/*}*/


/*.FormTitle__Link {*/
/*    color: #707C8B;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 1.7em;*/
/*    margin: 0 10px;*/
/*    padding-bottom: 9px;*/
/*}*/

/*.FormTitle__Link:first-child {*/
/*    margin-left: 0;*/
/*}*/

/*.FormTitle__Link--Active {*/
/*    color: white;*/
/*    border-bottom: 1px solid #199087;*/
/*}*/

/*.FormField {*/
/*    margin-bottom: 40px;*/
/*}*/

/*.FormField__Label {*/
/*    display: block;*/
/*    text-transform: uppercase;*/
/*    font-size: .9em;*/
/*    color: white;*/
/*}*/

/*.FormField__Input {*/
/*    width: 45%;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    color: white;*/
/*    outline: none;*/
/*    border-bottom: 1px solid #445366;*/
/*    font-size: 1em;*/
/*    font-weight: 300;*/
/*    padding-bottom: 10px;*/
/*    margin-top: 10px;*/
/*}*/

/*.FormField__Input::-webkit-input-placeholder {*/
/*    color: #616E7F;*/
/*}*/

/*.FormField__Input:-ms-input-placeholder {*/
/*    color: #616E7F;*/
/*}*/

/*.FormField__Input::-ms-input-placeholder {*/
/*    color: #616E7F;*/
/*}*/

/*.FormField__Input::placeholder {*/
/*    color: #616E7F;*/
/*}*/

/*.FormField__Button {*/
/*    background-color: #52C4B9;*/
/*    color: white;*/
/*    border: none;*/
/*    outline: none;*/
/*    border-radius: 25px;*/
/*    padding: 15px 70px;*/
/*    font-size: .8em;*/
/*    font-weight: 500;*/
/*}*/

/*.FormField__Link {*/
/*    color: #66707D;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    border-bottom: 1.5px solid #225E62;*/
/*    padding-bottom: 5px;*/
/*}*/

/*.FormField__CheckboxLabel {*/
/*    color: #646F7D;*/
/*    font-size: .9em;*/
/*}*/

/*.FormField__Checkbox {*/
/*    position: relative;*/
/*    top: 1.5px;*/
/*}*/

/*.FormField__TermsLink {*/
/*    color: white;*/
/*    border-bottom: 1px solid #199087;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    padding-bottom: 2px;*/
/*    margin-left: 5px;*/
/*}*/

/*!*========*!*/

/*.profile-photo {*/
/*    padding: 6px;*/
/*    width: 264px;*/
/*    height: 264px;*/
/*    text-align: center;*/
/*    border-radius: 50%;*/
/*    margin: -240px auto 0;*/
/*    animation-name: fadeIn;*/
/*    animation-duration: .9s;*/
/*    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.44);*/
/*    background: #2E4158;*/

/*}*/

/*.profile-photo-master{*/
/*    padding: 6px;*/
/*    width: 264px;*/
/*    height: 264px;*/
/*    text-align: center;*/
/*    border-radius: 50%;*/
/*    margin: -240px auto 0;*/
/*    animation-name: fadeIn;*/
/*    animation-duration: .9s;*/
/*    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.44);*/
/*    background: #2E4158;*/
/*    position: relative;*/
/*}*/


/*.image {*/
/*    opacity: 1;*/
/*    display: block;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    transition: .5s ease;*/
/*    backface-visibility: hidden;*/
/*}*/

/*.middle {*/
/*    transition: .5s ease;*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    -ms-transform: translate(-50%, -50%);*/
/*    text-align: center;*/
/*}*/

/*.profile-photo-master:hover .image {*/
/*    opacity: 0.3;*/
/*}*/

/*.profile-photo-master:hover .middle {*/
/*    opacity: 1;*/
/*}*/

/*.text {*/
/*    color: white;*/
/*    font-size: 23px;*/
/*    padding: 16px 32px;*/
/*}*/

/*img {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    border-radius: 50%;*/
/*}*/

/*.accent {*/
/*    width: 100%;*/
/*    height: 295px;*/
/*    border-radius: 10px;*/
/*    background: #52C4B9;*/
/*}*/

/*button.hamburger {*/
/*    top: 0;*/
/*    left: 0;*/
/*    padding: 0;*/
/*    width: 48px;*/
/*    margin: 24px;*/
/*    border: none;*/
/*    position: absolute;*/
/*    background: transparent;*/
/*}*/

/*form {*/
/*    margin: 0 auto;*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    max-width: 750px;*/
/*    padding: 0 52px 32px;*/
/*}*/

/*textarea {*/
/*    width: 100%;*/
/*    display: block;*/
/*}*/

/*label {*/
/*    font-size: 25px;*/
/*    margin-top: 24px;*/
/*}*/

/*input,*/
/*textarea {*/
/*    border: none;*/
/*    font-size: 25px;*/
/*    margin-top: 12px;*/
/*    padding: 36px 24px;*/
/*    border-radius: 10px;*/
/*    font-family: inherit;*/
/*}*/
/*.FormCenterProfile{*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/
/*button.cta-primary {*/
/*    z-index: 1;*/
/*    height: 88px;*/
/*    float: right;*/
/*    border: none;*/
/*    width: 272px;*/
/*    padding: 0 20px;*/
/*    font-size: 35px;*/
/*    margin-top: 32px;*/
/*    font-weight: 700;*/
/*    overflow: hidden;*/
/*    line-height: 88px;*/
/*    position: relative;*/
/*    transition: .2s all;*/
/*    border-radius: 40px;*/
/*    background: transparent;*/
/*    box-shadow: 0px 3px 13.28px 2.72px rgba(0, 0, 0, 0.41);*/
/*}*/

/*.FieldProfile_2 {*/
/*    width: 45%;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    color: white;*/
/*    border-bottom: 1px solid #445366;*/
/*    font-size: 1em;*/
/*    font-weight: 300;*/
/*    padding-bottom: 10px;*/
/*    position: absolute;*/
/*    left: 250px;*/
/*    margin-top: 0px;*/
/*}*/

/*.FieldProfile_2:focus {*/
/*    outline: none;*/
/*}*/

/*.FormProfile{*/
/*    position: relative;*/
/*    margin: 30px;*/
/*    margin-left: 140px;*/
/*}*/

/*.MasterProfile{*/
/*    position: relative;*/
/*    margin: 30px;*/
/*    margin-left: 140px;*/
/*}*/

/*.MasterField_2{*/
/*    width: 45%;*/
/*    background-color: transparent;*/
/*    border: none;*/
/*    color: white;*/
/*    border-bottom: 1px solid #445366;*/
/*    font-size: 1em;*/
/*    font-weight: 300;*/
/*    padding: 0;*/
/*    position: absolute;*/
/*    left: 250px;*/
/*}*/
/*.MasterField_2:focus {*/
/*    outline: none;*/
/*}*/

/*.tablehead .tablecell {*/
/*    color: white;*/
/*}*/
